<!-- <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Beauty Chu~♥</title>

<link rel="shortcut icon" href="../images/favicon.ico"
	type="image/x-icon">
<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="../css/common.css">

<style type="text/css">
/* 스타일 적용 공간! */
/*  * {
	border: 1px solid red;
}  */

#yun-shopdetailcontainer {
	width: 1150px;
	height: 600px;
}

.yun-shopcontainerdiv {
	width: 528px;
	height: 560px;
	float: left;
	margin-left: 30px;
	margin-top: 20px;
}

.yun-shopstyle {
	width: 168px;
	height: 178px;
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}

#yun-buttondiv {
	height: 50px;
	float: right;
}

#yun-pricelistsection {
	height: 500px;
}

.yun-shopstyleimage {
	width: 168px;
	height: 178px;
}
</style>

</head>
<body>

	<header>
		header 건들지 말긔!
	</header>



	<div id="wrap-chu" class="wrap-chu">
 -->

<div id=yun-shopdetailcontainer>

	<div id=yun-shopstylelist class=yun-shopcontainerdiv>
		<div id=yun-shopstyle1 class=yun-shopstyle>
			<img class=yun-shopstyleimage src="../images/style-list/s1.png">
		</div>
		<div id=yun-shopstyle2 class=yun-shopstyle>
			<img class=yun-shopstyleimage src="../images/style-list/s2.png">
		</div>
		<div id=yun-shopstyle3 class=yun-shopstyle>
			<img class=yun-shopstyleimage src="../images/style-list/s3.jpg">
		</div>
		<div id=yun-shopstyle4 class=yun-shopstyle>
			<img class=yun-shopstyleimage src="../images/style-list/s4.jpg">
		</div>
		<div id=yun-shopstyle5 class=yun-shopstyle>
			<img class=yun-shopstyleimage src="../images/style-list/s5.jpg">
		</div>
		<div id=yun-shopstyle6 class=yun-shopstyle>
			<img class=yun-shopstyleimage src="../images/style-list/s6.jpg">
		</div>
		<div id=yun-shopstyle7 class=yun-shopstyle>
			<img class=yun-shopstyleimage src="../images/style-list/s7.jpg">
		</div>
		<div id=yun-shopstyle8 class=yun-shopstyle>
			<img class=yun-shopstyleimage src="../images/style-list/s8.jpg">
		</div>
		<div id=yun-shopstyle6 class=yun-shopstyle>
			<img class=yun-shopstyleimage src="../images/style-list/s5.jpg">
		</div>
	</div>

	<div id=yun-shoppricelist class=yun-shopcontainerdiv>
		<div id=yun-buttondiv>
			<img class='yun-back' src="../images/yun-shopdetail/back-icon.png">
			<img class='yun-exit' src="../images/yun-shopdetail/exit-icon.png">
		</div>


		<h1>Price List</h1>

		<div class=buttondiv>
			<div class="ui button get-coupon">Get Coupon</div>
		</div>
		<img src="../images/yun-shopdetail/pricelist.png" width="100%" height="75%"/>

	</div>


</div>

<!-- 	</div>




	<footer>
		footer 건들지 말긔!
	</footer>




	header, footer 로드 스크립트!!
	<script type="text/javascript"
		src='../js/resources/jquery-2.1.1.min.js'></script>
	<script>
		$('header').load('common/header.html');
		$('footer').load('common/footer.html');

		/* 
		window.setTimeout('window.location.reload()', 7000); //60초마다 새로고침
		 */
	</script>

</body>
</html> -->