<script src="../js/resources/flat-menu-script.js"></script>
<script type='text/javascript'
	src='http://code.jquery.com/jquery-1.7.2.js'></script>
	<script type="text/javascript" src="../js/resources/jquery-2.1.1.min.js"></script>
<script src="../js/resources/modernizr.custom.63321.js"></script>
<script src="../js/resources/jquery.catslider.js"></script>
<script src="../js/resources/jquery.flexisel.js"></script>
<script src="../js/resources/flat-menu-script.js"></script>
<script src="../js/resources/bootstrap.js"></script>
<script type='text/javascript' src='http://code.jquery.com/jquery-1.7.2.js'></script>
<link rel="stylesheet" type="text/css" href="../css/loginjoin.css">
<link rel="stylesheet" type="text/css" href="../css/header.css">
<link rel='stylesheet' href='../css/resources/bootstrap.min.css'>
<link rel='stylesheet' href='../css/resources/bootstrap-theme.min.css'>

<!-- 상단 고정 메뉴 -->
<div id='cssmenu'>
	<ul>
		<li id='menu-icon'><a href='main.html'>Beauty Chu♥</a></li>
		<li><a href='shop-list.html'>Shop</a></li>
		<li><a href='style-list.html'>Man</a></li>
		<li><a href='style-list.html'>Woman</a></li>
		<li><a href='#'>celebrity</a></li>

		<li><form method="get" action="/search" id="search">
				<input name="q" id="search-bar" type="text" placeholder="Search..." />
			</form></li>

		<li class='user-menu active has-sub'><a href='#'>User</a>
			<ul>
			 
  				<li class='has-sub show-login' data-toggle='modal' data-target='#exampleModal1'
				data-whatever='@login'><a href='#exampleModal1'>Login</a></li>
				
				<li class='has-sub' data-toggle='modal' data-target='#exampleModal2'
				data-whatever='@join'><a href='#exampleModal2'>Join</a></li>  
				
				<li class='has-sub'><a href='#'>QnA</a></li>
			</ul></li>

	</ul>
</div>
<!-- 상단 고정 메뉴 끝-->


<!-- pop up -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="exampleModalLabel">login</h4>
      </div>
			<!-- login area -->
			<div class='login-area'>

				<form class="form-signin" role="form">
					<div class='page-header'>
						<h2 class="form-signin-heading">로그인</h2>
					</div>
					<label for="inputEmail" class="sr-only">Email address</label> <input
						type="email" id="inputEmail" class="form-control"
						placeholder="beautychu@appchu.com" required autofocus> <label
						for="inputPassword" class="sr-only">Password</label> <input
						type="password" id="inputPassword" class="form-control"
						placeholder="Password" required>
					<div class="checkbox">
						<label> <input type="checkbox" value="remember-me">
							아이디 저장
						</label>
					</div>
					<button class="btn btn-lg btn-inverse btn-block" type="submit">로그인</button>
				</form>

			</div>
			<!--/ login area -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- pop up -->	
	
	
	<!-- pop up -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="exampleModalLabel">join</h4>
      </div>
			<!-- login area -->
			<div class='login-area'>

<div class='signup-content' id='signup-content'>

			<!--page-header -->
			<div class='page-header'>
				<h2 class='form-signup-heading'>회원가입</h2>
			</div>
			<!--/.page-header -->

			<!-- 회원가입 폼 : S -->
			<form name='frm' class='form-horizontal join' role='form'
				method='post'>

				<input name='chk_email' id='chk_email' type='hidden'> <input
					name='chk_mobile' id='chk_mobile' type='hidden'> <input
					name='mobile_cert' id='mobile_cert' type='hidden' value='N'>
				<input name='email_done_chk' id='email_done_chk' type='hidden'
					value='N'> <input name='cert_done_chk' id='cert_done_chk'
					type='hidden' value='N'>

				<!-- 이메일 : S -->
				<div class='form-group'>
					<label class='col-lg-2 control-label' for='inputEmail1'> <strong
						class='email'>이메일</strong>
					</label>
					<div class='col-lg-10 email-total'>

						<div class='email-div'>
							<!-- <div class='col-lg-8 col-md-8 col-xs-12 prnarw'> -->
							<div class='input-email'>
								<input name='user_email' class='form-control col-lg-4'
									id='user_email' type='email' maxlength='100'
									placeholder='appchu@beautychu.com'>
								<!-- 이메일입력 -->
								<!-- 							<div class='email-check'>
								<button class='btn btn-inverse col-lg-3' id='btn-email'
									type='button' value='Y'>
									<span class='btn-check-email'>중복확인</span>
								</button>
								</div> -->
								<!-- 중복확인 -->
								<!-- 								<div class='email-agree'>
								<button class='btn btn-inverse col-lg-3' id='btn-email'
									type='button'>
									<span class='btn-agree-recv'>√ 수신동의</span>
								</button>
								이메일수신동의 // 동의체크되었을 경우 클래스가 btn-default 에서 btn-info로 바뀜 체크해제시 다시 btn-default
							</div> -->
							</div>
							<!-- /.row -->
							<blockquote class='alarm text-primary'></blockquote>
							<!-- 이메일체크 메시지 알람 -->
						</div>

					</div>
				</div>
				<!-- /.form-group -->


				<!-- 닉네임 : S -->
				<div class='form-group'>
					<label class='col-lg-2 control-label' for='inputNickname1'>
						<strong class='nick'>닉네임</strong>
					</label>
					<div class='col-lg-10'>
						<input name='user_nickname' class='form-control'
							id='user_nickname' type='text' maxlength='50' placeholder=' '>
						<!-- 닉네임 -->
					</div>
				</div>
				<!-- /.form-group -->

				<!-- 비밀번호 : S -->
				<div class='form-group'>
					<label class='col-lg-2 control-label' for='inputPassword1'>
						<strong class='pw'>비밀번호</strong>
					</label>
					<div class='col-lg-6'>
						<input name='user_pw' class='form-control' id='user_pw'
							type='password' maxlength='20' placeholder='4~20자로 입력해주세요.'>
						<!-- 비밀번호 -->
					</div>
				</div>
				<!-- /.form-group -->

				<!-- 비밀번호확인 : S -->
				<div class='form-group'>
					<label class='col-lg-2 control-label' for='inputPassword2'>
						<strong class='pwr'>비밀번호<br>확인
					</strong>
					</label>
					<div class='col-lg-6'>
						<input name='confirm_pw' class='form-control' id='confirm_pw'
							type='password' maxlength='20' placeholder='비밀번호를 재입력 해주세요.'>
						<!-- 비밀번호확인 -->
					</div>
				</div>
				<!-- /.form-group -->


				<!-- 휴대폰 : S -->
				<div class='form-group'>
					<label class='col-lg-2 control-label' for='inputPhone1'> <strong
						class='phone'>휴대폰</strong></label>
					<div class='col-lg-10'>
						<div class='row'>
							<div class='col-lg-6'>
								<input name='user_hp' class='form-control' id='user_hp'
									onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"
									onkeypress="this.value=this.value.replace(/[^0-9]/g,'');"
									onchange='fn_resert_cert();' type='text' maxlength='12'
									placeholder="'-'를 제외하고 입력해주세요.">
								<!-- 휴대폰번호입력 -->
							</div>
							<div class='col-lg-3'>
								<button class='btn btn-inverse btn-block' id='send_sms'
									onclick='fn_callsms();' type='button'>
									<span class='btn-send-certnum'>인증번호전송</span>
								</button>
								<!-- 인증번호전송 // 한번 전송 후 재전송 버튼으로 바뀜: span태그에 resend클래스 추가 -->
							</div>
							<!-- 							<div class='col-lg-3'>
								<button class='btn btn-inverse btn-block' id='mobile_ok'
									type='button' value='N'>
									<span class='btn-agree-recv'>√ 수신동의</span>
								</button>
								휴대폰 정보수신동의
							</div> -->
						</div>
						<!-- /.row -->
						<div class='row secondrow'>
							<div class='col-lg-6'>
								<input name='sms_num' class='form-control' id='sms_num'
									onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"
									onkeypress="this.value=this.value.replace(/[^0-9]/g,'');"
									type='text' maxlength='4' placeholder='인증번호를 입력해주세요.'>
								<!-- 인증번호입력 -->
							</div>
							<div class='col-lg-2'>
								<button class='btn btn-inverse btn-block' onclick='fn_chksms();'
									type='button'>
									<span class='btn-cert-ok'>확인</span>
								</button>
							</div>
						</div>
						<!-- /.row -->
					</div>
				</div>
				<!-- /.form-group -->

				<div class='btn-area'>
					<button class='btn btn-inverse btn-lg btn-block'
						onclick='fn_form_chk();' type='button'>
						<span class='btn-join'>완료</span>
					</button>
					<div class='register-alert'>
						<p>
							사업자 등록증을 아래의 이메일로 주시면 사업자 회원으로 등록해 드립니다.<br>
							admin@beautychu.com
						</p>
					</div>
					<!-- 회원가입 완료 -->
				</div>
			</form>

		</div>

			</div>
			<!--/ login area -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- pop up -->	
	

<!-- login 스크립트 -->
<script type='text/javascript'>
$('#exampleModal1').on('show.bs.modal', function (event) {
	  var button = $(event.relatedTarget) // Button that triggered the modal
	  var recipient = button.data('whatever') // Extract info from data-* attributes
	  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
	  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
	  var modal = $(this)
	  modal.find('.modal-title').text('New message to ' + recipient)
	  modal.find('.modal-body input').val(recipient)
	});
	
$('#exampleModal2').on('show.bs.modal', function (event) {
	  var button = $(event.relatedTarget) // Button that triggered the modal
	  var recipient = button.data('whatever') // Extract info from data-* attributes
	  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
	  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
	  var modal = $(this)
	  modal.find('.modal-title').text('New message to ' + recipient)
	  modal.find('.modal-body input').val(recipient)
	});
	</script>