<script src="../js/resources/flat-menu-script.js"></script>
<script type='text/javascript'
	src='http://code.jquery.com/jquery-1.7.2.js'></script>
<link rel="stylesheet" type="text/css" href="../css/loginjoin.css">
<link rel="stylesheet" type="text/css" href="../css/header.css">

<!-- 상단 고정 메뉴 -->
<div id='cssmenu'>
	<ul>
		<li id='menu-icon'><a href='main.html'>Beauty Chu♥</a></li>
		<li><a href='shop-list.html'>Shop</a></li>
		<li><a href='style-list.html'>Man</a></li>
		<li><a href='style-list.html'>Woman</a></li>
		<li><a href='#'>celebrity</a></li>

		<li><form method="get" action="/search" id="search">
				<input name="q" id="search-bar" type="text" placeholder="Search..." />
			</form></li>

		<li class='user-menu active has-sub'><a href='#'>User</a>
			<ul>
				<li class='has-sub show-login'><a href='#'>Login</a></li>
				<li class='has-sub'><a href='#' class='show-signup'>Join</a></li>
				<li class='has-sub'><a href='#'>QnA</a></li>
			</ul></li>

	</ul>
</div>
<!-- 상단 고정 메뉴 끝-->
