<!DOCTYPE html>
<html lang="ko" class="home">
<head>
<title>Beauty Chu~♥</title>

<meta charset="UTF-8">

<link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
<!-- beauty chu_common css -->
<link rel="stylesheet" type="text/css" href="../css/common2.css">

<link rel="stylesheet" type="text/css" href="../css/basic.css"/>
<script type="text/javascript" src="../js/modernizr.min.js"></script>
<script type="text/javascript" src="../js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../js/jquery.easing.js"></script>
<script type="text/javascript" src="../js/jquery-scrolltofixed-min.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/motion.js"></script> 
<script type="text/javascript" src="../js/jquery.motio.min.js"></script>

	<script>
			window.intro = 'yes';
	</script>
		
	<!-- page가 home일 경우에만 로드하는 js -->
	<script type="text/javascript" src="../js/jquery.touchSwipe.min.js"></script>
	<script type="text/javascript" src="../js/jquery.event.drag-2.2.js"></script>
	<script type="text/javascript" src="../js/jquery.event.drag.live-2.2.js"></script>
	<script type="text/javascript" src="../js/home.js"></script>
	<script type="text/javascript" src="../js/home.show-window.js"></script>

<style type="text/css">
	/* 스타일 적용 공간! */
</style>

</head>

<body class="home">
	<header>
		<!-- header 건들지 말긔! -->
	</header>



	<div id="wrap-chu" class="wrap-chu">
	
	<div class="wrapper">
	<div id="content">
		<div class="show-window">
				<div class="bg"></div>
				<h2>Show Window</h2>
				<div class="grid-by-slider active">
				
					<div class="slider">
						<div class="bar" title="좌우로 스크롤해 주세요!"><div class="anim-obj motion-drag2" frames="84" fps="30" img-height="45"><div class="frame sprite"></div></div></div>
					</div>
					
					<div class="slider-content-container">
						<div class="slider-content">

							<div class="good">
								<div class="img-container">
									<a href='#'><img src="../images/main/111.jpg" alt="Crew Neck Sweater "><span class="over"><i></i></span></a>
								</div>
								<a href='#' class="good-name"><img src="http://dept.galleria.co.kr/upload/main_fashion_style/e1b15616-eeb0-418f-a93b-907da55b8f88.png" alt=""></a>
							</div>
							
							<div class="good">
								<div class="img-container">
									<a href='#'><img src="../images/main/111.jpg" alt="Mustang Jacket"><span class="over"><i></i></span></a>
								</div>
								<a href='#' class="good-name"><img src="http://dept.galleria.co.kr/upload/main_fashion_style/2df581a6-e5c3-4aba-8e54-30eddedf035d.png" alt=""></a>
							</div>
							
							<div class="good">
								<div class="img-container">
									<a href='#'><img src="../images/main/111.jpg" alt="Dress"><span class="over"><i></i></span></a>
								</div>
								<a href='#' class="good-name"><img src="http://dept.galleria.co.kr/upload/main_fashion_style/ff648ce5-6431-4ff8-8718-446d85b2b4a4.png" alt=""></a>
							</div>
							
							<div class="good">
								<div class="img-container">
									<a href='#'><img src="../images/main/111.jpg" alt="Dress"><span class="over"><i></i></span></a>
								</div>
								<a href='#' class="good-name"><img src="http://dept.galleria.co.kr/upload/main_fashion_style/79920f59-3d90-468c-ab3e-5e0922bbecdc.png" alt=""></a>
							</div>
							
							<div class="good">
								<div class="img-container">
									<a href='#'><img src="../images/main/111.jpg" alt="Minidress"><span class="over"><i></i></span></a>
								</div>
								<a href='#' class="good-name"><img src="http://dept.galleria.co.kr/upload/main_fashion_style/34bdd219-b0d3-4a6d-8f58-f5ebe086ee63.png" alt=""></a>
							</div>
							
							<div class="good">
								<div class="img-container">
									<a href='#'><img src="../images/main/man (1).png" alt="Boots"><span class="over"><i></i></span></a>
								</div>
								<a href='#' class="good-name"><img src="http://dept.galleria.co.kr/upload/main_fashion_style/d93ecd4d-a34f-4f2a-b8b4-494ada49ff91.png" alt=""></a>
							</div>
							
							<div class="good">
								<div class="img-container">
									<a href='#'><img src="../images/main/man (1).png" alt="Boots"><span class="over"><i></i></span></a>
								</div>
								<a href='#' class="good-name"><img src="http://dept.galleria.co.kr/upload/main_fashion_style/d93ecd4d-a34f-4f2a-b8b4-494ada49ff91.png" alt=""></a>
							</div>
							
							<div class="good">
								<div class="img-container">
									<a href='#'><img src="../images/main/man (1).png" alt="Boots"><span class="over"><i></i></span></a>
								</div>
								<a href='#' class="good-name"><img src="http://dept.galleria.co.kr/upload/main_fashion_style/d93ecd4d-a34f-4f2a-b8b4-494ada49ff91.png" alt=""></a>
							</div>
							
							<div class="good">
								<div class="img-container">
									<a href='#'><img src="../images/main/man (1).png" alt="Boots"><span class="over"><i></i></span></a>
								</div>
								<a href='#' class="good-name"><img src="http://dept.galleria.co.kr/upload/main_fashion_style/d93ecd4d-a34f-4f2a-b8b4-494ada49ff91.png" alt=""></a>
							</div>
							
							<div class="good">
								<div class="img-container">
									<a href='#'><img src="../images/main/man (1).png" alt="Boots"><span class="over"><i></i></span></a>
								</div>
								<a href='#' class="good-name"><img src="http://dept.galleria.co.kr/upload/main_fashion_style/d93ecd4d-a34f-4f2a-b8b4-494ada49ff91.png" alt=""></a>
							</div>
							
							<div class="good">
								<div class="img-container">
									<a href='#'><img src="../images/main/man (1).png" alt="Boots"><span class="over"><i></i></span></a>
								</div>
								<a href='#' class="good-name"><img src="http://dept.galleria.co.kr/upload/main_fashion_style/d93ecd4d-a34f-4f2a-b8b4-494ada49ff91.png" alt=""></a>
							</div>
							
							<div class="good">
								<div class="img-container">
									<a href='#'><img src="../images/main/man (1).png" alt="Boots"><span class="over"><i></i></span></a>
								</div>
								<a href='#' class="good-name"><img src="http://dept.galleria.co.kr/upload/main_fashion_style/d93ecd4d-a34f-4f2a-b8b4-494ada49ff91.png" alt=""></a>
							</div>
							
							<div class="good">
								<div class="img-container">
									<a href='#'><img src="../images/main/man (1).png" alt="Boots"><span class="over"><i></i></span></a>
								</div>
								<a href='#' class="good-name"><img src="http://dept.galleria.co.kr/upload/main_fashion_style/d93ecd4d-a34f-4f2a-b8b4-494ada49ff91.png" alt=""></a>
							</div>
							
							<div class="good">
								<div class="img-container">
									<a href='#'><img src="../images/main/man (1).png" alt="Boots"><span class="over"><i></i></span></a>
								</div>
								<a href='#' class="good-name"><img src="http://dept.galleria.co.kr/upload/main_fashion_style/d93ecd4d-a34f-4f2a-b8b4-494ada49ff91.png" alt=""></a>
							</div>
							
							<div class="good">
								<div class="img-container">
									<a href='#'><img src="../images/main/man (1).png" alt="Boots"><span class="over"><i></i></span></a>
								</div>
								<a href='#' class="good-name"><img src="http://dept.galleria.co.kr/upload/main_fashion_style/d93ecd4d-a34f-4f2a-b8b4-494ada49ff91.png" alt=""></a>
							</div>
														
							
							<!-- <div class="good">
								<div class="img-container">
									<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1245'><img src="http://dept.galleria.co.kr/upload/show_window/58dbd003-f71b-4375-b870-5772039df344.jpg" alt="Concentrate"><span class="over"><i></i></span></a>
								</div>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1245' class="good-name"><img src="http://dept.galleria.co.kr/upload/main_fashion_style/820c1c67-0383-44b2-9dd6-72c51d6f910a.png" alt=""></a>
							</div>
							
							<div class="good">
								<div class="img-container">
									<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1297'><img src="http://dept.galleria.co.kr/upload/show_window/69d1c6f1-a226-419f-97b3-6d9dd0a32e3e.jpg" alt="Shoes"><span class="over"><i></i></span></a>
								</div>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1297' class="good-name"><img src="http://dept.galleria.co.kr/upload/main_fashion_style/bc1b210e-7669-4e89-968e-1ce200782ee9.png" alt=""></a>
							</div>
							
							<div class="good">
								<div class="img-container">
									<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1287'><img src="http://dept.galleria.co.kr/upload/show_window/2a1c006d-23ae-4477-9666-1b2ba3d2fb12.jpg" alt="Dress"><span class="over"><i></i></span></a>
								</div>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1287' class="good-name"><img src="http://dept.galleria.co.kr/upload/main_fashion_style/2bdb5271-cb1d-4f4e-840e-57e223d4cafe.png" alt=""></a>
							</div>
							
							<div class="good">
								<div class="img-container">
									<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1241'><img src="http://dept.galleria.co.kr/upload/show_window/5e8dd0d7-190c-4754-93a5-b87f469d4c6a.jpg" alt="Minaudiere"><span class="over"><i></i></span></a>
								</div>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1241' class="good-name"><img src="http://dept.galleria.co.kr/upload/main_fashion_style/1ec88858-5c13-4e66-b929-9a15bcfb5c03.png" alt=""></a>
							</div>
							
							<div class="good">
								<div class="img-container">
									<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1300'><img src="http://dept.galleria.co.kr/upload/show_window/16e06a60-4f2c-4a09-b531-930c2dc86e7f.jpg" alt="Modern Muse"><span class="over"><i></i></span></a>
								</div>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1300' class="good-name"><img src="http://dept.galleria.co.kr/upload/main_fashion_style/04794451-b057-4879-ae51-24359f53244b.png" alt=""></a>
							</div>
							
							<div class="good">
								<div class="img-container">
									<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1281'><img src="http://dept.galleria.co.kr/upload/show_window/182e3194-b402-4401-aa93-e32179d40a65.jpg" alt="Minaudiere"><span class="over"><i></i></span></a>
								</div>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1281' class="good-name"><img src="http://dept.galleria.co.kr/upload/main_fashion_style/4ead83cc-19f2-4a34-ad9b-d24081263779.png" alt=""></a>
							</div>
							
							<div class="good">
								<div class="img-container">
									<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1295'><img src="http://dept.galleria.co.kr/upload/show_window/c20bec89-acd8-4c8b-9aec-e5c148f43a0f.jpg" alt="Dress"><span class="over"><i></i></span></a>
								</div>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1295' class="good-name"><img src="http://dept.galleria.co.kr/upload/main_fashion_style/162da54c-fac3-4046-b50d-f8948194d9ac.png" alt=""></a>
							</div>
							
							<div class="good">
								<div class="img-container">
									<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1280'><img src="http://dept.galleria.co.kr/upload/show_window/0e73ca94-9663-45a7-bf4d-679c32370d87.jpg" alt="Pumps"><span class="over"><i></i></span></a>
								</div>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1280' class="good-name"><img src="http://dept.galleria.co.kr/upload/main_fashion_style/290c5c5f-1d46-4987-98a0-d070cf06330d.png" alt=""></a>
							</div>
							
							<div class="good">
								<div class="img-container">
									<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1235'><img src="http://dept.galleria.co.kr/upload/show_window/11242e4e-773d-42a3-bd54-4fe41cb8a8bc.jpg" alt="Boots"><span class="over"><i></i></span></a>
								</div>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1235' class="good-name"><img src="http://dept.galleria.co.kr/upload/main_fashion_style/9ccf695f-d515-47bd-b0ef-93644b1cccfd.png" alt=""></a>
							</div>
							
							<div class="good">
								<div class="img-container">
									<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1234'><img src="http://dept.galleria.co.kr/upload/show_window/0759f1d1-8b5e-4609-abb2-c5f957275513.jpg" alt="Skirt"><span class="over"><i></i></span></a>
								</div>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1234' class="good-name"><img src="http://dept.galleria.co.kr/upload/main_fashion_style/9f3d4c8b-6817-44e5-ba2b-25197bece9f7.png" alt=""></a>
							</div>
							
							<div class="good">
								<div class="img-container">
									<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1279'><img src="http://dept.galleria.co.kr/upload/show_window/af8a329b-d116-4d9c-b82d-e71802662522.jpg" alt="Court"><span class="over"><i></i></span></a>
								</div>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1279' class="good-name"><img src="http://dept.galleria.co.kr/upload/main_fashion_style/97fd9c3e-825f-4737-9ab0-4b7fa9ae9665.png" alt=""></a>
							</div> -->
							
						</div>
					</div>
					<a href="#" class="slide-btn prev">이전</a>
					<a href="#" class="slide-btn next">다음</a>
				</div>



				<div class="grid-by-list hide">
					<ul class="good-list">
					
						<li>
							<div class="good">
								<div class="img-container">

									<a href='#'><img src="../images/main/man (1).png" alt="Dress"><span class="over"><i></i></span></a>
								</div>
								<a href='#' class="good-brand">MARC BY MARC JACOBS</a>
								<a href='#' class="good-name">Minaudiere</a>
							</div>
						</li>
						<li>
							<div class="good">
								<div class="img-container">

									<a href='#'><img src="../images/main/man (1).png" alt="Dress"><span class="over"><i></i></span></a>
								</div>
								<a href='#' class="good-brand">STYLE CUT</a>
								<a href='#' class="good-name">Cut</a>
							</div>
						</li>
					
						<li>
							<div class="good">
								<div class="img-container">

									<a href='#'><img src="../images/main/man (1).png" alt="Dress"><span class="over"><i></i></span></a>
								</div>
								<a href='#' class="good-brand">STYLE PERM</a>
								<a href='#' class="good-name">Perm</a>
							</div>
						</li>
						
						<li>
							<div class="good">
								<div class="img-container">

									<a href='#'><img src="../images/main/man (1).png" alt="Dress"><span class="over"><i></i></span></a>
								</div>
								<a href='#' class="good-brand">DARK BROWN</a>
								<a href='#' class="good-name">Color</a>
							</div>
						</li>
						
						<li>
							<div class="good">
								<div class="img-container">

									<a href='#'><img src="../images/main/man (1).png" alt="Dress"><span class="over"><i></i></span></a>
								</div>
								<a href='#' class="good-brand">MARC BY MARC JACOBS</a>
								<a href='#' class="good-name">Dress</a>
							</div>
						</li>
						<li>
							<div class="good">
								<div class="img-container">

									<a href='#'><img src="../images/main/man (1).png" alt="Dress"><span class="over"><i></i></span></a>
								</div>
								<a href='#' class="good-brand">STYLE CUT</a>
								<a href='#' class="good-name">Cut</a>
							</div>
						</li>
					
						<li>
							<div class="good">
								<div class="img-container">

									<a href='#'><img src="../images/main/man (1).png" alt="Dress"><span class="over"><i></i></span></a>
								</div>
								<a href='#' class="good-brand">STYLE PERM</a>
								<a href='#' class="good-name">Perm</a>
							</div>
						</li>
						
						<li>
							<div class="good">
								<div class="img-container">

									<a href='#'><img src="../images/main/man (1).png" alt="Dress"><span class="over"><i></i></span></a>
								</div>
								<a href='#' class="good-brand">DARK BROWN</a>
								<a href='#' class="good-name">Color</a>
							</div>
						</li>
					
						<li>
							<div class="good">
								<div class="img-container">

									<a href='#'><img src="../images/main/man (4).png" alt="Dress"><span class="over"><i></i></span></a>
								</div>
								<a href='#' class="good-brand">MARC BY MARC JACOBS</a>
								<a href='#' class="good-name">Pumps</a>
							</div>
						</li>
						<li>
							<div class="good">
								<div class="img-container">

									<a href='#'><img src="../images/main/man (4).png" alt="Dress"><span class="over"><i></i></span></a>
								</div>
								<a href='#' class="good-brand">STYLE CUT</a>
								<a href='#' class="good-name">Cut</a>
							</div>
						</li>
					
						<li>
							<div class="good">
								<div class="img-container">

									<a href='#'><img src="../images/main/man (4).png" alt="Dress"><span class="over"><i></i></span></a>
								</div>
								<a href='#' class="good-brand">STYLE PERM</a>
								<a href='#' class="good-name">Perm</a>
							</div>
						</li>
						
						<li>
							<div class="good">
								<div class="img-container">

									<a href='#'><img src="../images/main/man (4).png" alt="Dress"><span class="over"><i></i></span></a>
								</div>
								<a href='#' class="good-brand">DARK BROWN</a>
								<a href='#' class="good-name">Color</a>
							</div>
						</li>
					
						<li>
							<div class="good">
								<div class="img-container">

									<a href='#'><img src="../images/main/man (1).png" alt="Dress"><span class="over"><i></i></span></a>
								</div>
								<a href='#' class="good-brand">MARC BY MARC JACOBS</a>
								<a href='#' class="good-name">Modern Muse</a>
							</div>
						</li>
						<li>
							<div class="good">
								<div class="img-container">

									<a href='#'><img src="../images/main/man (1).png" alt="Dress"><span class="over"><i></i></span></a>
								</div>
								<a href='#' class="good-brand">STYLE CUT</a>
								<a href='#' class="good-name">Cut</a>
							</div>
						</li>
					
						<li>
							<div class="good">
								<div class="img-container">

									<a href='#'><img src="../images/main/man (1).png" alt="Dress"><span class="over"><i></i></span></a>
								</div>
								<a href='#' class="good-brand">STYLE PERM</a>
								<a href='#' class="good-name">Perm</a>
							</div>
						</li>
						
						<li>
							<div class="good">
								<div class="img-container">

									<a href='#'><img src="../images/main/man (1).png" alt="Dress"><span class="over"><i></i></span></a>
								</div>
								<a href='#' class="good-brand">DARK BROWN</a>
								<a href='#' class="good-name">Color</a>
							</div>
						</li>
						
						<li>
							<div class="good">
								<div class="img-container">

									<a href='#'><img src="../images/main/man (6).png" alt="Dress"><span class="over"><i></i></span></a>
								</div>
								<a href='#' class="good-brand">STYLE PERM</a>
								<a href='#' class="good-name">Perm</a>
							</div>
						</li>
						
						<li>
							<div class="good">
								<div class="img-container">

									<a href='#'><img src="../images/main/man (7).png" alt="Dress"><span class="over"><i></i></span></a>
								</div>
								<a href='#' class="good-brand">DARK BROWN</a>
								<a href='#' class="good-name">Color</a>
							</div>
						</li>
					
					
						<!-- 
 						<li>
							<div class="good">
								<div class="img-container">

									<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1287'><img src="http://dept.galleria.co.kr/upload/show_window/2a1c006d-23ae-4477-9666-1b2ba3d2fb12.jpg" alt="Dress"><span class="over"><i></i></span></a>
								</div>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1287' class="good-brand">MARC BY MARC JACOBS</a>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1287' class="good-name">Dress</a>
							</div>
						</li>
					 

 						<li>
							<div class="good">
								<div class="img-container">

									<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1297'><img src="http://dept.galleria.co.kr/upload/show_window/69d1c6f1-a226-419f-97b3-6d9dd0a32e3e.jpg" alt="Shoes"><span class="over"><i></i></span></a>
								</div>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1297' class="good-brand">BRUNELLO CUCINELLI</a>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1297' class="good-name">Shoes</a>
							</div>
						</li>
					 

 						<li>
							<div class="good">
								<div class="img-container">

									<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1241'><img src="http://dept.galleria.co.kr/upload/show_window/5e8dd0d7-190c-4754-93a5-b87f469d4c6a.jpg" alt="Minaudiere"><span class="over"><i></i></span></a>
								</div>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1241' class="good-brand">EDIE PARKER</a>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1241' class="good-name">Minaudiere</a>
							</div>
						</li>
					 

 						<li>
							<div class="good">
								<div class="img-container">

									<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1245'><img src="http://dept.galleria.co.kr/upload/show_window/58dbd003-f71b-4375-b870-5772039df344.jpg" alt="Concentrate"><span class="over"><i></i></span></a>
								</div>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1245' class="good-brand">LA MER</a>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1245' class="good-name">Concentrate</a>
							</div>
						</li>
					 

 						<li>
							<div class="good">
								<div class="img-container">

									<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1300'><img src="http://dept.galleria.co.kr/upload/show_window/16e06a60-4f2c-4a09-b531-930c2dc86e7f.jpg" alt="Modern Muse"><span class="over"><i></i></span></a>
								</div>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1300' class="good-brand">ESTEE LAUDER</a>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1300' class="good-name">Modern Muse</a>
							</div>
						</li>
					 

 						<li>
							<div class="good">
								<div class="img-container">

									<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1233'><img src="http://dept.galleria.co.kr/upload/show_window/9e1a0775-f223-4b1f-9ec1-b6d120b1941b.jpg" alt="Boots"><span class="over"><i></i></span></a>
								</div>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1233' class="good-brand">SERGIO ROSSI </a>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1233' class="good-name">Boots</a>
							</div>
						</li>
					 

 						<li>
							<div class="good">
								<div class="img-container">

									<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1281'><img src="http://dept.galleria.co.kr/upload/show_window/182e3194-b402-4401-aa93-e32179d40a65.jpg" alt="Minaudiere"><span class="over"><i></i></span></a>
								</div>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1281' class="good-brand">EDIE PARKER</a>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1281' class="good-name">Minaudiere</a>
							</div>
						</li>
					 

 						<li>
							<div class="good">
								<div class="img-container">

									<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1262'><img src="http://dept.galleria.co.kr/upload/show_window/16ddfafd-8709-4750-a371-5c9ceef984b4.jpg" alt="Minidress"><span class="over"><i></i></span></a>
								</div>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1262' class="good-brand">PROENZA SCHOULER</a>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1262' class="good-name">Minidress</a>
							</div>
						</li>
					 

 						<li>
							<div class="good">
								<div class="img-container">

									<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1295'><img src="http://dept.galleria.co.kr/upload/show_window/c20bec89-acd8-4c8b-9aec-e5c148f43a0f.jpg" alt="Dress"><span class="over"><i></i></span></a>
								</div>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1295' class="good-brand">CLAUDIE PIERLOT</a>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1295' class="good-name">Dress</a>
							</div>
						</li>
					 

 						<li>
							<div class="good">
								<div class="img-container">

									<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1290'><img src="http://dept.galleria.co.kr/upload/show_window/674a62ab-2c7d-427e-903f-76fa744c3a47.jpg" alt="Dress"><span class="over"><i></i></span></a>
								</div>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1290' class="good-brand">G. STREET 494</a>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1290' class="good-name">Dress</a>
							</div>
						</li>
					 

 						<li>
							<div class="good">
								<div class="img-container">

									<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1280'><img src="http://dept.galleria.co.kr/upload/show_window/0e73ca94-9663-45a7-bf4d-679c32370d87.jpg" alt="Pumps"><span class="over"><i></i></span></a>
								</div>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1280' class="good-brand">ROGER VIVIER</a>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1280' class="good-name">Pumps</a>
							</div>
						</li>
					 

 						<li>
							<div class="good">
								<div class="img-container">

									<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1296'><img src="http://dept.galleria.co.kr/upload/show_window/48b642c6-ce14-4a1c-ac78-86787230c097.jpg" alt="Dress"><span class="over"><i></i></span></a>
								</div>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1296' class="good-brand">CARVEN</a>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1296' class="good-name">Dress</a>
							</div>
						</li>
					 

 						<li>
							<div class="good">
								<div class="img-container">

									<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1235'><img src="http://dept.galleria.co.kr/upload/show_window/11242e4e-773d-42a3-bd54-4fe41cb8a8bc.jpg" alt="Boots"><span class="over"><i></i></span></a>
								</div>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1235' class="good-brand">CHRISTIAN LOUBOUTIN</a>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1235' class="good-name">Boots</a>
							</div>
						</li>
					 

 						<li>
							<div class="good">
								<div class="img-container">

									<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1188'><img src="http://dept.galleria.co.kr/upload/show_window/efb1d791-311a-42b9-b3b8-eda8352723c9.jpg" alt="Mustang Jacket"><span class="over"><i></i></span></a>
								</div>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1188' class="good-brand">IRO</a>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1188' class="good-name">Mustang Jacket</a>
							</div>
						</li>
					 

 						<li>
							<div class="good">
								<div class="img-container">

									<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1234'><img src="http://dept.galleria.co.kr/upload/show_window/0759f1d1-8b5e-4609-abb2-c5f957275513.jpg" alt="Skirt"><span class="over"><i></i></span></a>
								</div>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1234' class="good-brand">PUSH BUTTON</a>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1234' class="good-name">Skirt</a>
							</div>
						</li>
					 

 						<li>
							<div class="good">
								<div class="img-container">

									<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1232'><img src="http://dept.galleria.co.kr/upload/show_window/4d0f868f-f733-4d63-a613-bbac159581ec.jpg" alt="Crew Neck Sweater "><span class="over"><i></i></span></a>
								</div>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1232' class="good-brand">STELLA MCCARTNEY</a>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1232' class="good-name">Crew Neck Sweater </a>
							</div>
						</li>
					 

 						<li>
							<div class="good">
								<div class="img-container">

									<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1279'><img src="http://dept.galleria.co.kr/upload/show_window/af8a329b-d116-4d9c-b82d-e71802662522.jpg" alt="Court"><span class="over"><i></i></span></a>
								</div>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1279' class="good-brand">G. STREET 494</a>
								<a href='/svc/show_window/web/kr/showWindowList.do?win_seq=1279' class="good-name">Court</a>
							</div>
						</li>
					  -->
								
					</ul>
					<a href="#prev" class="btn-prev">prev</a>
					<a href="#next" class="btn-next">next</a>

					<ul class="list-index">
					
						<li class="active"><a href="#">1</a></li>
					
						<li ><a href="#">2</a></li>
					
						<li ><a href="#">3</a></li>
						
		 
					</ul>
				</div>

				<div class="btns">
					<a href="#" class="btn-grid-1 active">슬라이드로보기</a>
					<a href="#" class="btn-grid-2">전체보기</a>
				</div>

			</div><!-- show-window -->
		</div> <!-- #content -->
		</div> <!-- .wrapper -->
	</div> <!-- .wrap-chu -->


	
	<footer>
		<!-- footer 건들지 말긔! -->
	</footer>
	
	

	<!-- header, footer 로드 스크립트!! -->
	<script>
		 $('header').load('common/header.html');
		 /*$('footer').load('common/footer.html'); */
		
		/* 
		window.setTimeout('window.location.reload()', 7000); //60초마다 새로고침
		 */
	</script>
	
	
</body>
</html>