<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<!-- Bootstrap Core CSS -->
<link href="../css/resources/bootstrap.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="../css/resources/heroic-features.css" rel="stylesheet">

<!-- 그리드리스트 CSS  -->
<link href="../css/resources/grid.css" rel="stylesheet">
<!-- 별점 CSS -->
<link rel="stylesheet" href="../css/resources/starrr.css">
<link rel="stylesheet"
	href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">

<!-- 댓글 -->

<link rel="stylesheet" href="../css/resources/comment.css">

 <link rel="stylesheet" type="text/css" href="../css/common.css"> 
<link rel="stylesheet" type="text/css" href="../css/shop-list.css">
<!-- 슬라이더 CSS -->
<!-- <link rel="stylesheet" href="css/resources/slider.css"> -->
<!-- <link rel="stylesheet" type="text/css" href="css/shop-detail.css"> -->

<title>SHOP LIST GRID</title>
</head>


<body>
	<div id='wrap'>
		<header> </header>
		<section class='style-list'>
			<hr>

			<div class="container">
				<div class="well well-sm">
					<strong>Shop List</strong>
					<div class="btn-group">
						<a href="#" id="list" class="btn btn-default btn-sm"><span
							class="glyphicon glyphicon-th-list"> </span>List</a> <a href="#"
							id="grid" class="btn btn-default btn-sm"><span
							class="glyphicon glyphicon-th"></span>Grid</a>
					</div>
				</div>
				<div id="products" class="row list-group">
					<div class="item  col-xs-4 col-lg-4">
						<div class="thumbnail">
							<img 
							class="btn group list-group-image" 
							src="../images/shop/shop1.jpg" 
							 data-toggle="modal" data-target="#myModal" alt="" />
							<div class="caption">
								<h4 class="group inner list-group-item-heading">JUNO hair </h4>
								<p class="group inner list-group-item-text col-md-8">서울시 서초구 서초동 
								</p>
									<div> 115m
									</div>
								
								<div class="row">
									<div class="col-xs-12 col-md-6">

										<div class='starrr'></div>
									</div>
									<!--  <a href="shop-detail.html"> -->
									<div class="col-xs-12 col-md-6">
										<!-- </a> --><p>review 17</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item  col-xs-4 col-lg-4">
						<div class="thumbnail">
							<img 
							class="btn group list-group-image"  
							src="../images/shop/shop2.jpg" 
							data-toggle="modal" data-target="#myModal" alt="" />
							<div class="caption">
								<h4 class="group inner list-group-item-heading">br헤어샵</h4>
								<p class="group inner list-group-item-text col-md-8">서울시 서초구 서초동 
								</p>
									<div> 115m
									</div>
								
								<div class="row">
									<div class="col-xs-12 col-md-6">

										<div class='starrr'></div>
									</div>
									<!--  <a href="shop-detail.html"> -->
									<div class="col-xs-12 col-md-6">
										<!-- </a> --><p>review 17</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item  col-xs-4 col-lg-4">
						<div class="thumbnail">
							<img 
							class="btn group list-group-image" 
							src="../images/shop/shop3.jpg" 
							data-toggle="modal" data-target="#myModal" alt="" />
							<div class="caption">
								<h4 class="group inner list-group-item-heading">THE HAIR SHOP </h4>
								<p class="group inner list-group-item-text col-md-8">서울시 서초구 서초동 
								</p>
									<div> 115m
									</div>
								
								<div class="row">
									<div class="col-xs-12 col-md-6">

										<div class='starrr'></div>
									</div>
									<!--  <a href="shop-detail.html"> -->
									<div class="col-xs-12 col-md-6">
										<!-- </a> --><p>review 17</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item  col-xs-4 col-lg-4">
						<div class="thumbnail">
							<img 
							class="btn group list-group-image" 
							src="../images/shop/shop4.jpg" 
						    data-toggle="modal" data-target="#myModal" alt="" />
							<div class="caption">
								<h4 class="group inner list-group-item-heading">JUNO hair </h4>
								<p class="group inner list-group-item-text col-md-8">서울시 서초구 서초동 
								</p>
									<div> 115m
									</div>
								
								<div class="row">
									<div class="col-xs-12 col-md-6">

										<div class='starrr'></div>
									</div>
									<!--  <a href="shop-detail.html"> -->
									<div class="col-xs-12 col-md-6">
										<!-- </a> --><p>review 17</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item  col-xs-4 col-lg-4">
						<div class="thumbnail">
							<img 
							class="btn group list-group-image" 
							src="../images/shop/shop5.jpg" 
							data-toggle="modal" data-target="#myModal" alt="" />
							<div class="caption">
								<h4 class="group inner list-group-item-heading">JUNO hair </h4>
								<p class="group inner list-group-item-text col-md-8">서울시 서초구 서초동 
								</p>
									<div> 115m
									</div>
								
								<div class="row">
									<div class="col-xs-12 col-md-6">

										<div class='starrr'></div>
									</div>
									<!--  <a href="shop-detail.html"> -->
									<div class="col-xs-12 col-md-6">
										<!-- </a> --><p>review 17</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item  col-xs-4 col-lg-4">
						<div class="thumbnail">
							<img 
							class="btn group list-group-image" 
							src="../images/shop/shop6.jpg" 
							data-toggle="modal" data-target="#myModal" alt="" />
							<div class="caption">
								<h4 class="group inner list-group-item-heading">금낭헤어샵</h4>
								<p class="group inner list-group-item-text col-md-8">서울시 서초구 서초동 
								</p>
									<div> 115m
									</div>
								
								<div class="row">
									<div class="col-xs-12 col-md-6">

										<div class='starrr'></div>
									</div>
									<!--  <a href="shop-detail.html"> -->
									<div class="col-xs-12 col-md-6">
										<!-- </a> --><p>review 17</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item  col-xs-4 col-lg-4">
						<div class="thumbnail">
							<img 
							class="btn group list-group-image" 
							src="../images/shop/shop7.jpg" 
							data-toggle="modal" data-target="#myModal" alt="" />
							<div class="caption">
								<h4 class="group inner list-group-item-heading">THE HAIR GALLERY</h4>
								<p class="group inner list-group-item-text col-md-8">서울시 서초구 서초동 
								</p>
									<div> 115m
									</div>
								
								<div class="row">
									<div class="col-xs-12 col-md-6">

										<div class='starrr'></div>
									</div>
									<!--  <a href="shop-detail.html"> -->
									<div class="col-xs-12 col-md-6">
										<!-- </a> --><p>review 17</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item  col-xs-4 col-lg-4">
						<div class="thumbnail">
							<img 
							class="btn group list-group-image"  
							src="../images/shop/shop8.jpg" 
							data-toggle="modal" data-target="#myModal" alt="" />
							<div class="caption">
								<h4 class="group inner list-group-item-heading">헤어디자인</h4>
								<p class="group inner list-group-item-text col-md-8">서울시 서초구 서초동 
								</p>
									<div> 115m
									</div>
								
								<div class="row">
									<div class="col-xs-12 col-md-6">

										<div class='starrr'></div>
									</div>
									<!--  <a href="shop-detail.html"> -->
									<div class="col-xs-12 col-md-6">
										<!-- </a> --><p>review 17</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item  col-xs-4 col-lg-4">
						<div class="thumbnail">
							<img 
							class="btn group list-group-image"  
							src="../images/shop/shop9.jpg" 
							data-toggle="modal" data-target="#myModal" alt="" />
							<div class="caption">
								<h4 class="group inner list-group-item-heading">블루클럽 </h4>
								<p class="group inner list-group-item-text col-md-8">서울시 서초구 서초동 
								</p>
									<div> 115m
									</div>
								
								<div class="row">
									<div class="col-xs-12 col-md-6">

										<div class='starrr'></div>
									</div>
									<!--  <a href="shop-detail.html"> -->
									<div class="col-xs-12 col-md-6">
										<!-- </a> --><p>review 17</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item  col-xs-4 col-lg-4">
						<div class="thumbnail">
							<img 
							class="btn group list-group-image" 
							src="../images/shop/shop10.jpg" 
							data-toggle="modal" data-target="#myModal" alt="" />
							<div class="caption">
								<h4 class="group inner list-group-item-heading">박승철 헤어스튜디오 </h4>
								<p class="group inner list-group-item-text col-md-8">서울시 서초구 서초동 
								</p>
									<div> 115m
									</div>
								
								<div class="row">
									<div class="col-xs-12 col-md-6">

										<div class='starrr'></div>
									</div>
									<!--  <a href="shop-detail.html"> -->
									<div class="col-xs-12 col-md-6">
										<!-- </a> --><p>review 17</p>
									</div>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h2 class="modal-title" id="myModalLabel">Shop name</h2>
      </div>
      <div class="modal-body">
      
      
      <!-- 스타일 디테일 팝업 -->
        
		<section class='style-list'>

				<div id="main_area">
					<!-- Slider -->
					<div class="row">
						<div class="col-xs-12" id="slider">
							<!-- Top part of the slider -->
							<div class="row">
								<div class="col-sm-8" id="carousel-bounding-box">
									<div class="carousel slide" id="myCarousel">
										<!-- Carousel items -->
										<div class="carousel-inner">
											<div class="active item" data-slide-number="0">
												<img src="../images/shop/shop1.jpg">
											</div>

											<div class="item" data-slide-number="1">
												<img src="../images/shop/shopinner2.jpg">
											</div>

											<div class="item" data-slide-number="2">
												<img src="../images/shop/shopinner3.jpg">
											</div>

											<div class="item" data-slide-number="3">
												<img src="../images/shop/shopinner4.jpg">
											</div>

										</div>
										<!-- Carousel nav -->
										<a class="left carousel-control" href="#myCarousel"
											role="button" data-slide="prev"> <span
											class="glyphicon glyphicon-chevron-left"></span>
										</a> <a class="right carousel-control" href="#myCarousel"
											role="button" data-slide="next"> <span
											class="glyphicon glyphicon-chevron-right"></span>
										</a>
									</div>
								</div>

								<div class="col-sm-4" id="carousel-text"></div>


								<h4>Shop manager</h4>
								<h4>Address</h4>
								<h4>Tel</h4>
								<h4>Info</h4>
							</div>
						</div>
					</div>
					<!--/Slider-->

					<div class="row hidden-xs" id="slider-thumbs">
						<!-- Bottom switcher of slider -->
						<ul class="hide-bullets">
							<li class="col-sm-2"><a class="thumbnail"
								id="carousel-selector-0"><img
									src="../images/shop/shop1.jpg"></a></li>

							<li class="col-sm-2"><a class="thumbnail"
								id="carousel-selector-1"><img
									src="../images/shop/shopinner2.jpg"></a></li>

							<li class="col-sm-2"><a class="thumbnail"
								id="carousel-selector-2"><img
									src="../images/shop/shopinner3.jpg"></a></li>

							<li class="col-sm-2"><a class="thumbnail"
								id="carousel-selector-3"><img
									src="../images/shop/shopinner4.jpg"></a></li>

						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<a href="#" class="btn btn-info btn-lg btn-block btn-huge" style='width: 445%'>GET TATAL 10% DC COUPON</a>
       			</div>
				</div>
				<h1>Price List</h1>

    	 <table class="table table-list-search">
                    <thead>
                        <tr>
                            <th>Hair</th>
                            <th>Short</th>
                            <th>Medium</th>
                            <th>Long</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>cut</td>
                            <td>10,000~20,000</td>
                            <td>10,000~20,000</td>
                            <td>10,000~20,000</td>
                        </tr>
                        <tr>
                            <td>color</td>
                            <td>10,000~20,000</td>
                            <td>10,000~20,000</td>
                            <td>10,000~20,000</td>
                        </tr>
                        <tr>
                            <td>care</td>
                            <td>10,000~20,000</td>
                            <td>10,000~20,000</td>
                            <td>10,000~20,000</td>
                        </tr>
                    </tbody>
                </table> 
		</section>


<div class="container">
    <div class="row">
        <div class="panel panel-default widget">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-comment"></span>
                <h3 class="panel-title">
                    Recent Comments</h3>
                <span class="label label-info">
                    78</span>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1">
                                <img src="http://placehold.it/80" class="img-circle img-responsive" alt="" /></div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <a href="http://www.jquery2dotnet.com/2013/10/google-style-login-page-desing-usign.html">
                                        Google Style Login Page Design Using Bootstrap</a>
                                    <div class="mic-info">
                                        By: <a href="#">Bhaumik Patel</a> on 2 Aug 2013
                                    </div>
                                </div>
                                <div class="comment-text">
                                    Awesome design
                                </div>
                                <div class="action">
                                    <button type="button" class="btn btn-primary btn-xs" title="Edit">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                    <button type="button" class="btn btn-success btn-xs" title="Approved">
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" title="Delete">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1">
                                <img src="http://placehold.it/80" class="img-circle img-responsive" alt="" /></div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <a href="http://bootsnipp.com/BhaumikPatel/snippets/Obgj">Admin Panel Quick Shortcuts</a>
                                    <div class="mic-info">
                                        By: <a href="#">Bhaumik Patel</a> on 11 Nov 2013
                                    </div>
                                </div>
                                <div class="comment-text">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
                                </div>
                                <div class="action">
                                    <button type="button" class="btn btn-primary btn-xs" title="Edit">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                    <button type="button" class="btn btn-success btn-xs" title="Approved">
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" title="Delete">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1">
                                <img src="http://placehold.it/80" class="img-circle img-responsive" alt="" /></div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <a href="http://bootsnipp.com/BhaumikPatel/snippets/4ldn">Cool Sign Up</a>
                                    <div class="mic-info">
                                        By: <a href="#">Bhaumik Patel</a> on 11 Nov 2013
                                    </div>
                                </div>
                                <div class="comment-text">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
                                </div>
                                <div class="action">
                                    <button type="button" class="btn btn-primary btn-xs" title="Edit">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                    <button type="button" class="btn btn-success btn-xs" title="Approved">
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" title="Delete">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <a href="#" class="btn btn-primary btn-sm btn-block" role="button"><span class="glyphicon glyphicon-refresh"></span> More</a>
            </div>
        </div>
    </div>
</div>
        <hr>
      </div>
    </div>
  </div>
</div>
			<hr>
		</section>
	<div class="footer" id='footer'></div>
	</div>


	<!-- /.container -->

	<!-- jQuery -->
	<script src="../js/resources/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="../js/resources/bootstrap.min.js"></script>
	<!-- 그리드 리스트버튼  -->
	<script src="../js/resources/grid.js"></script>
	<!-- 별점 -->
	<script
		src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
	<script src="../js/resources/starrr.js"></script>
	<script>
	$(function(){
		  $('.footer').load('footer.html');
	});

	
	</script>

	<!-- 	<script language='javascript'>
		window.setTimeout('window.location.reload()', 5000); //60초마다 새로고침
	</script> -->
</body>
</html>

