<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Beauty Chu~♥</title>

<link rel="shortcut icon" href="../images/favicon.ico"
	type="image/x-icon">
<link rel="icon" href="../images/favicon.ico" type="image/x-icon">

<link rel="stylesheet" type="text/css" href="../css/basic.css"/>
<script type="text/javascript" src="../js/modernizr.min.js"></script>
<script type="text/javascript" src="../js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../js/jquery.easing.js"></script>
<script type="text/javascript" src="../js/jquery-scrolltofixed-min.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/motion.js"></script> 
<script type="text/javascript" src="../js/jquery.motio.min.js"></script>

	<script>
			window.intro = 'yes';
	</script>
		
	<!-- page가 home일 경우에만 로드하는 js -->
	<script type="text/javascript" src="../js/jquery.touchSwipe.min.js"></script>
	<script type="text/javascript" src="../js/jquery.event.drag-2.2.js"></script>
	<script type="text/javascript" src="../js/jquery.event.drag.live-2.2.js"></script>
	<script type="text/javascript" src="../js/home.js"></script>
	<script type="text/javascript" src="../js/home.show-window.js"></script>

<style type="text/css">
	/* 스타일 적용 공간! */
</style>

</head>
<body>

	<header>
		<!-- header 건들지 말긔! -->
	</header>



	<div id="wrap-chu" class="wrap-chu">
	
		<!-- 작업공간 - 이파일 고치지 말고 복사해서 쓰시오...!! -->
	
	</div>



	
	<footer>
		<!-- footer 건들지 말긔! -->
	</footer>




	<!-- header, footer 로드 스크립트!! -->
	<script>
		$('header').load('common/header.html');
		$('footer').load('common/footer.html');
		
		/* 
		window.setTimeout('window.location.reload()', 7000); //60초마다 새로고침
		 */
	</script>

</body>
</html>