@CHARSET "EUC-KR";

@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
	font-family: 'Lato';
}
body {
	text-align: -webkit-center;
}
#wrap {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}

header {
	height: 120px;
}

footer {
	height: 60px;
	text-align: center;
}

ul {
	list-style: none;
}

nav li {
	display: inline;
}

nav li a {
	
}

#loginnav {
	float: right;
}

#clear {
	clear: both;
}

#site-title {
	font-size: 2.5em;
	text-align: center;
}

#searchbar {
	text-align: center;
	padding: 20px 0;
}

#input-search {
	width: 300px;
	height: 20px;
}

#menubar {
	height: 80px;
}

.style-div {
	width: 230px;
	height: 400px;
	float: left;
	margin: 5px;
}

.style-list {
	position: relative;
	height: 100%;
	text-align: center;
} 