@CHARSET "EUC-KR";

* {
/*    	border: 1px solid red; */   
}

#wrap {
	width: 1000px;
	height: 100%;
	margin: 0 auto;
}


header{
/* 	border: 1px solid red; */
	height: 180px;
/* 	text-align: right;
 */}

#style-main{
	
	height: 400px;
}

#shop-main{
	
	height: 350px;
}

footer{
	height: 60px;
	text-align: center;
}


ul{
	list-style: none;
}

nav li{
	display: inline;
}

nav li a{
	
}

nav{
	float: right;
}

#clear{
	clear: both;
}

#site-title {
	
	font-size: 2.5em;
	text-align: center;
}

#searchbar {
	text-align: center;
	padding: 20px 0;
}

#input-search {
	width: 300px;
	height: 20px;
}

#menubar{
/* 	border: 1px solid red; */
	height: 80px;
}


.style-div{
	width: 230px;
	height: 400px;
	/* background-color: aqua; */
	float: left;
	margin: 5px;
}

.style-list{
	position: relative;
	/* 높이 수정 */
	height: 100%;
/* 	text-align: center; */
	padding: 10px 15px;
}

/*-------------------*/
.well-sm {
	text-align: right;
}

 strong {
	float: left;
} 
/* 샵 정보 텍스트 */
.row {
	text-align: left;
	
}
/* slider */
 .col-sm-2 {
 width: 16.7%;
 
 }
 
 .container {
 	width: 100%
 }
 
 .carousel-inner>.item>img{
 width:635px;
 height: 400px;
 
 
 }
 
 .thumbnail>img{
 width: 118px;
 height: 69px;
 
 }
 
 
 section {
 border: 1px lightgray solid;
 border-radius: 3px;
 }