.hide-bullets {
list-style:none;
margin-left: -40px;
margin-top:20px;
}
 /*--------- */
 .col-sm-2 {
 width: 16.7%;
 
 }
 
 .container {
 	width: 100%
 }
 
 .carousel-inner>.item>img{
 width:599px;
 height: 400px;
 
 
 }
 
 .thumbnail>img{
 width: 118px;
 height: 69px;
 
 }
 
 
