@CHARSET "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
	/* font-family: 'Nanum Gothic', '나눔고딕', 'Gulim'; */
}
body {
	
}
#wrap {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}

header {
	height: 60px;
}

footer {
	height: 60px;
	text-align: center;
}
#clear {
	clear: both;
}