@CHARSET "UTF-8";

/* @import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
 */

#shop-search {
	float: left;
}

#style-main{
	height: 500px;
}

#shop-main{
	width : 1000px;
	height: 350px;
	margin: 0 auto;
 	padding-top: 50px; 
}

#flexiselDemo3 img{
	width: 300px;
	height: 200px;
}

#title-container {
	paddin: 20px;
	left: 0px;
	width: 100%;
	text-align: center;
	background-color: #fff;
}

#title-container>h1 {
	width: 100%;
	position: relative;
	font-size: 3.0em;
	font-weight: bold;
}
