@charset 'utf-8';

body{ font-family:'Nanum Gothic'; color:#666; }
table{border-collapse:collapse; margin:0; padding:0; border-spacing:0; border:0;}
input{font-size: 12px;}

label, input, li, th, td, dt, dd, div,p, span, strong{ font-family:'Nanum Gothic'}


/* Line */
.line {border-top:1px solid #e0e0e0}
.line_b{border-bottom:1px solid #e0e0e0}
.line_y{border-left:1px solid #e0e0e0}

.blind{font-size:0; line-height:0; overflow:hidden; height:0; width:0; position:absolute; left:-999999px}

/* login */
.login_box{padding:60px 0 30px 0; border-top:1px solid #e0e0e0}
.login_box p.t_txt{text-align:center; padding-bottom:10px}
.login_box div.box{position:relative; width:460px; margin:0 auto; padding:20px 0 35px 0}
.login_box dl{overflow:hidden; width:340px; padding-bottom:8px}
.login_box dt{float:left; width:60px; padding-top:10px}
.login_box dd{float:left; width:280px}
.login_box dd input{border:1px solid #e3e3e3; width:258px; font-size:16px; padding:0 10px; line-height:30px; height:30px;}
.login_box .bt_login{position:absolute; top:0; right:0;}
.login_box div.btns{padding:30px 0 40px 0;  height:28px; width:100%; font-size:12px; color:#646464;}
.login_box div.btns span{padding:6px 0 0 60px; width:132px; line-height:14px; float:left; display:block; height:22px;}
.login_box div.btns span input{vertical-align:middle;}
.login_box div.btns span label{padding-left:5px;line-height:16px; vertical-align:middle;}
.login_box div.btns a{ margin-left:5px; display:block; height:28px;  float:left; overflow:hidden;}
.login_box div.btns a:hover img{margin-top:-28px}
.login_box p{font-size:13px; line-height:18px; padding-top:20px}

.log_area_b{padding:30px 0 20px 0}
.log_area_b div.box{padding:20px 0 10px 0}

/* PW Modify */
.pw_modify {padding:40px 0; }
.pw_modify div.box{position:relative; width:400px; margin:0 auto; padding:0}
.pw_modify dl{overflow:hidden; width:400px; padding-bottom:8px}
.pw_modify dt{float:left; width:100px; padding-top:10px}
.pw_modify dd{float:left; width:280px}
.pw_modify p{padding-bottom:40px; text-align:center;}
.pw_modify .tip{ margin-top:40px; padding-top:20px; border-top:1px solid #e0e0e0}
.pw_modify .tip h4{background:url('/web/img/member/icon01.gif') 0 6px no-repeat; padding:2px 0 2px 15px}
.pw_modify .tip strong{display:block; padding-bottom:5px}
.pw_modify .tip ul{padding-top:5px}
.pw_modify .bt_login2{position:absolute; top:-20px; right:0;}
.btn_mod_multi{text-align: center; padding: 25px 0 0 0 !important;}


/* ID, PW FINDE */
.finde_box{overflow:hidden;text-align:center;  border-top:1px solid #e0e0e0;}
.finde_box h3{padding-bottom:10px;}
.finde_box .id_finde{border-bottom:1px dashed #e0e0e0; padding:30px 0}
.finde_box .id_finde div{padding:35px 0}
.finde_box .id_finde div form{display:inline-block; padding:0; width:131px; height:121px; } /* 20140324 */
.finde_box .id_finde div a{display:inline-block; padding:0 5px; width:121px; height:121px; overflow:hidden;}
.finde_box .id_finde div a:hover img{margin-top:-122px}
.finde_box .pw_finde{border-bottom:1px solid #e0e0e0; padding-top:30px; margin-bottom:30px}
.finde_box .finde_area {overflow:hidden; border-top:1px solid #e0e0e0; margin-top:40px}
.finde_box .finde_area .area1{float:left; width:409px; padding:30px 0;}
.finde_box .finde_area .area2{float:left; width:410px; padding:30px 0; height:104px; border-left:1px solid #e0e0e0}
.finde_box .finde_area .area1 .txt_box label{display:inline-block; width:55px; font-size:13px; } /* 20140324 */
.finde_box .finde_area .area1 .txt_box input[type=text]{width:170px}/* 20140324 */
.finde_box .txt_box{width:390px; position:relative; text-align:left; padding-top:12px}
.finde_box .txt_box input[type=text], .finde_box .txt_box input[type=password]{border:1px solid #dfdfdf; width:230px; font-size:14px; padding:0 10px; line-height:30px; height:32px; margin-bottom:12px}
.finde_box .txt_box a.bt_go{width:121px; height:121px; overflow:hidden; position:absolute; top:-10px; right:0}
.finde_box .txt_box a.bt_go:hover img{margin-top:-122px}
.finde_box .txt_box dl{padding:18px 0 0  50px; width:240px;}
.finde_box .txt_box dt{padding-bottom:12px}
.finde_box .txt_box dd input[type=checkbox]{vertical-align:middle; margin-right:5px}
.finde_box .txt_box dd label{padding-right:15px;}
.finde_box .txt_box dd img{vertical-align:middle}

.f_area{padding:50px 0;  border-bottom:1px solid #e0e0e0;}
.f_area .f_id_box{width:430px; margin:0 auto; padding:30px 0; text-align:center; border:1px solid #e0e0e0}
.f_area .f_id_box span{display:inline-block; padding-bottom:5px; border-bottom:1px solid #e0e0e0}
.f_area .f_id_box p{font-family:'Nanum Gothic'; font-size:12px; color:#000; padding:25px 0 0 0}

.m_modify1{overflow:hidden}
.m_modify1 h3{padding-bottom:35px}
.m_modify1 p{padding-bottom:50px}
.m_modify1 .id_finde{float:left; width:409px; padding:30px  0 40px 0; border-bottom:1px solid #e0e0e0; }
.m_modify1 .pw_finde{float:left; width:410px; padding:30px 0 40px 0; border-left:1px solid #e0e0e0}
.m_modify1 .pw_finde div{padding-left:80px; }
.m_modify1 .pw_finde div span{display:inline-block; padding:35px 0 0 5px}

.m_modify2{border-bottom:1px solid #e0e0e0; padding:40px 0 10px 0;}
.m_modify2 h4{text-align:center; padding-bottom:10px;}
.m_modify2 p{text-align:center; padding-bottom:30px;}


/* 회원가입 */
.join h3{padding-bottom:15px;}
.join h3.m3_tit{padding:50px 0 15px 0; display:block; border-top:1px solid #e0e0e0; border-bottom:1px solid #e0e0e0}
.m_step{overflow:hidden; margin-bottom:35px}
.m_step li{float:left; width:217px; text-align:right; background:url('/web/img/member/m_step_icon.gif') 10% 50% no-repeat} /* 20140320 */
.m_step li:first-child{width:166px; margin:0} /* 20140320 */

/* step1 */
.m_step01 div{padding-bottom:5px; text-align:center; border-bottom:1px solid #e0e0e0}
.m_step01 div a{margin:0 5px;}
.m_step01 div p {padding:40px 0 35px;}
.m_step01 div.btn{padding:0; margin:0; border:0; }
.m_step01 div.btn form{display:inline-block; width:131px; height:121px;} /* 20140324 */
.m_step01 div.btn a{display:inline-block; margin:0; padding:0 5px; width:121px; height:121px; overflow:hidden;} /* 20140324 */
.m_step01 div.btn a:hover img{margin-top:-121px}
.m_step01 h4{background:url('/web/img/member/icon01.gif') 0 50% no-repeat; padding:20px  0 13px 15px }
.m_step01 a{margin-right:5px}
.m_step01 ul{padding-top:15px;}
.m_step01 li{background:url('/web/img/member/icon06.gif') 0 5px no-repeat; padding:1px 0 1px 8px }

/* step2 */
.m_step02 h4{padding:10px 0 15px 10px; background:url('/web/img/member/icon03.gif') 0 16px no-repeat}
.m_step02 h4:first-child{padding-top:0; background-position:0 6px}
.m_step02 .txt_box{border:1px solid #e3e3e3;  padding:10px; max-height:175px; margin-bottom:15px; color:#646464; font-size:12px; overflow:auto; font-family:'Nanum Gothic'; line-height:16px}
.m_step02 .txt_box h5{font-size:12px; font-family:'Nanum Gothic'; padding:15px 0 7px 0}
.m_step02 .txt_box h6{font-size:12px; font-family:'Nanum Gothic'; padding:10px 0 3px 0}
.m_step02 .txt_box ol{padding-top:5px}
.m_step02 .txt_box ol ol{padding-left:10px}
.m_step02 .txt_box li{line-height:16px; padding:2px 0}
.m_step02 .txt_box p{padding:5px 0}

.m_step02 .list_box{background:#f4f4f4; padding:30px; margin:30px 0}
.m_step02 .list_box li{padding:2px 0 }
.m_step02 .list_box p{padding-top:10px}
.m_step02 dl{overflow:hidden; width:100%}
.m_step02 dt{float:left}
.m_step02 dd{float:right; font-size:12px; }
.m_step02 input[type=radio]{margin:0 5px 0 0 ; padding:0; vertical-align:middle}
.m_step02 label{line-height:14px; display:inline-block; margin-right:10px;}
.m_step02 .opt{font-size:12px; text-align:right;}
.m_step02 .opt label strong{font-weight:bold}
.m_step02 p{font-size:12px; color:#666; padding-top:45px ; line-height:18px;}
.m_step02 p.agree{padding:5px 0 15px 0}
.m_step02 p a{color:#666; font-family: 'Nanum Gothic'; text-decoration:none; }
.m_step02 .list_tb{padding-bottom:40px}
.m_step02 .list_tb table{width:100%;}
.m_step02 .list_tb th{background:#f5f5f5 url('/web/img/member/tb_bar.gif') 0 50% no-repeat; padding:9px 0;}
.m_step02 .list_tb th:first-child{background-image:none}
.m_step02 .list_tb th img{vertical-align:middle}
.m_step02 .list_tb td{border-bottom:1px solid #efefef; text-align:left; padding:9px 0 9px 20px; font-size:12px; font-family:'Nanum Gothic'; color:#333}
.m_step02 .list_tb td.sb{border-left:1px solid #efefef;}

/* step3 */
.m_step03{padding:15px 0}
.m_step03 .m_line{padding-top:60px; border-top:1px solid #E8E5E5;}
.m_step03 table{width:100%; margin-bottom:20px; }
.m_step03 th{text-align:left; font-size:13px; font-weight:bold; color:#333}
.m_step03 th label {font-size:13px;}
.m_step03 td{padding:15px 0;  font-size:12px; color:#666; }
.m_step03 td p{font-size:11px; color:#7f5b15; padding-top:8px; font-family:'Nanum Gothic'; line-height:16px }
.m_step03 td span{font-size:11px; color:#555; vertical-align:top; font-family:'Nanum Gothic'; display:inline-block; padding:10px 0 0 5px;}
.m_step03 td span.bar{font-size:14px; color:#aeaeae; line-height:28px; padding:0 5px;}
.m_step03 div.op_box{float:left; padding-right:20px; padding-top:10px;}
.m_step03 div.op_box2{float:left; padding-right:10px}
.m_step03 div.op_box2 span{padding:7px 10px 0 10px;  color:#646464; font-size:14px; font-family:'Nanum Gothic'; }
.m_step03 div.op_box3{padding-bottom:10px} 
.m_step03 div.sel_box{float:left;}
.m_step03 div.sel_eamil .selecter{width:180px}
.m_step03 div.sel_box label{float:left; padding:8px 15px 0 5px;  font-size:13px; font-family:'Nanum Gothic'; margin:0 }
.m_step03 div.sel_box dt label{padding:0; color:#333}
.m_step03 div.sel_box span.sel{float:left; padding:8px 15px 0 5px;  font-size:13px; font-family:'Nanum Gothic';}
.m_step03 dl{height:30px; width:100%; padding:4px 0;}
.m_step03 dt{float:left; width:80px; padding-top:7px;  font-size:13px; color:#333}
.m_step03 dd{float:left;}
.m_step03 td.smsb dt{width:150px;  padding:6px 0;}
.m_step03 td.smsb dd{padding:6px 0 }
.m_step03 td.smsb dd label{padding-right:10px}
.m_step03 td.smsb ul{padding:15px 0 0 0}
.m_step03 td.smsb li{ background:url('/web/img/member/icon02.gif') 0 8px no-repeat; padding:2px 0 2px 10px; line-height:16px;}
.m_step03 td input[type=text], .m_step03 td input[type=password]{border:1px solid #dfdfdf; width:180px; font-size:12px; padding:0 10px; line-height:28px; height:28px;}
.m_step03 td.phone input[type=text]{width:80px}
.m_step03 label{line-height:14px; display:inline-block; margin-right:15px; font-family:'Nanum Gothic'; font-size:12px;}
.m_step03 dt label{font-size:13px; font-family:'Nanum Gothic'; }
.m_step03 input[type=radio]{margin:0 5px 0 0 ; padding:0; vertical-align:top; width:13px; height:13px;}
.m_step03 td.addr div input{width:80px}
.m_step03 td.addr input{width:550px; margin-bottom:5px}
.m_step03 td.mall_sel dl{width:200px; height:30px;  float:left; }
.m_step03 td.mall_sel dt{float:left; width:50px;}
.m_step03 td.mall_sel dd{float:left; width:150px}
.m_step03 td.job .selecter{width:200px}
.m_step03 .q_member{border-top:1px dashed #e8e5e5; padding:10px 0;}
.m_step03 .q_member dl{width:100%; height:30px; padding:10px 0;}
.m_step03 .q_member dt{width:50%; float:left; font-size:13px; color:#333; font-weight:bold;}
.m_step03 .q_member dd{width:50%; float:left; text-align:right}
.m_step03 .q_member dd input[type=radio] {vertical-align:middle}

/* step5 */
.m_step05 {border:1px solid #e8e5e5; text-align:center;  padding:40px 0 15px 0}
.m_step05 p {padding-bottom:25px}

/* Member leave */
.member_leave{}
.member_leave .top_area{border-top:1px solid #e0e0e0; border-bottom:1px solid #e0e0e0; padding:30px 0; text-align:center}
.member_leave .top_area p{padding:18px 0 0 0}
.member_leave ul.list_sy1{padding-top:0}
.member_leave h4{padding:36px 0 8px 0}
.member_leave p{padding-bottom:10px}
.member_leave .info_check{overflow:hidden; padding:25px 40px; border:1px solid #bebebe; color:#333 }
.member_leave .info_check span{width:360px; float:left; padding:5px 0; font-size:13px}
.member_leave .info_check input[type=radio]{margin:0 10px 0 0; vertical-align:middle }
.member_leave  textarea{width:780px; height:140px;border:1px solid #e0e0e0; padding:20px; line-height:16px; font-family: 'Nanum Gothic';}

/* 약관 */
.terms{ font-family:'Nanum Gothic'; font-size:12px;}
.terms h4{color:#7f5b15; font-size:14px; padding:40px  0 0 0; font-weight:bold}
.terms h5{font-size:12px; font-weight:bold; padding:20px 0 10px 0}
.terms li{line-height:18px}
.terms ol ol{padding:10px 0}
.terms ol {list-style-type:decimal; padding-left:22px}
.terms ol ol{list-style-type:none; padding-left:0}
.terms p{line-height:18px}
.terms .mg_t{padding-top:20px}


.terms_list{font-family:'Nanum Gothic'; padding:30px 0; position:relative;}
.terms_list .sel_terms_view {width:220px; padding:7px 15px; border:1px solid #e0e0e0; background:url('/web/img/member/icon05.jpg') 100% 50% no-repeat; cursor:pointer;}
.terms_list .sel_terms_list { position:absolute; top:58px; left:0; background:#fff; width:250px; padding:5px 0; border:1px solid #e0e0e0; border-top:0; display:none} /* 20140314 */
.terms_list h4{font-size:16px; color:#767676; font-weight:bold}
.terms_list .sel_terms_view h4{font-size:12px; color:#767676; font-weight:bold}
.terms_list li{font-size:12px; line-height:20px;}
.terms_list li a{color:#767676; display:block;  padding:2px 15px; }
.terms_list li a:hover{background:#f0f0f0; text-decoration:none}

.my_terms h5{padding-top:30px;}
.my_terms h6{font-size:12px; font-weight:normal; padding:15px 0 2px 0}
.my_terms ol {list-style-type:none; padding-left:0}
.my_terms ol.st1{ padding-left:20px;}
.my_terms li{line-height:18px; padding:1px 0}
.my_terms ul{padding:5px 0}
.my_terms p{padding:5px 0}
.my_terms table{width:100%; margin-top:10px}
.my_terms th{background:#f0f0f0; color:#333; padding:7px 0; text-align:center; font-weight:bold; border:1px solid #e6e6e6; border-bottom:0}
.my_terms td{padding:7px 10px; font-size:12px; line-height:18px; color:#666; border:1px solid #e6e6e6; text-align:center}
.my_terms td.l_txt{text-align:left}
.my_terms dl{padding-top:10px}
.my_terms dd{padding-top:10px}
.my_terms .pt_10{padding-top:10px;}


/* LIst Style */
ul.list_sy1 {padding-top:15px; color:#666; padding-left:10px;}
ul.list_sy1 li{background:url('/web/img/member/icon06.gif') 0 5px no-repeat; padding:3px 0 3px 8px }

/* btns */
.btns_c{text-align:center; padding-top:40px}
.btns_c0{text-align:center;}
.btns_c1{padding:25px 0 0 215px}
.btns_all { padding-top:20px; position:relative;}
.btns_all span{position:absolute; top: 20px; right:0}

/* Error */
.m_result_area{padding:40px 0; border-top:1px solid #e0e0e0; border-bottom:1px solid #e0e0e0; text-align:center}
.m_result_area p{padding:20px 0 0 0}

/* Popup */
body.popup{background:#fff; min-height:300px}
.pop_header{width:550px;  height:36px; padding-top:17px; background:#585858}
.pop_con{width:510px; padding:20px; background:#fff;}
.pop_con .zipcode{font-size:12px; font-family:'Nanum Gothic'; position:relative; padding-top:40px}
.pop_con .zipcode h2{width:122px; height:40px; position:absolute; top:0; border-bottom:1px solid #000}
.pop_con .zipcode h2.tab1{left:0; }
.pop_con .zipcode h2.tab2{left:121px;}
.pop_con .zipcode h2 a{display:block; height:40px;  background:#fff; overflow:hidden;}
.pop_con .zipcode a.on{height:40px;  border-bottom:1px solid #fff}
.pop_con .zipcode a.on img{margin-top:-41px} 

.pop_con input[type=text]{border:1px solid #dfdfdf; width:180px; font-size:12px; padding:0 10px; line-height:28px; height:28px; vertical-align:top}
.pop_con input[type=radio]{margin:0 5px 0 0 ; padding:0; vertical-align:middle}
.pop_con .search_tit{padding:25px 0 20px 0; text-align:center; border-top:1px solid #000;}
.pop_con .search_box{padding:30px 40px; background:#f5f5f5; margin-bottom:30px}
.pop_con .search_box dl{overflow:hidden; width:100%;}
.pop_con .search_box dt{float:left;padding-top:10px; width:60px}
.pop_con .search_box dd{float:left; height:30px;}
.pop_con .search_box dd span{display:inline-block; vertical-align:top; padding:7px 10px 0 10px}
.pop_con .search_box p{text-align:center; padding-top:7px;}
.pop_con .search_box2 {height:100px;} /* 20140328 */
.pop_con .search_box2 .selecter .selecter-selected{width:460px; background-position:97% 50%; padding:8px 30px 8px 10px;  line-height:16px; text-indent:0}/* 20140328 */
.pop_con .search_box2 .selecter .selecter-item{width:460px;  padding:8px 30px 8px 10px; line-height:16px; } /* 20140328 */
.pop_con .search_box2 .selecter-element{width:500px; } /* 20140328 */
.pop_con .search_box2 .selecter {width:500px; display:inline-block; float:none; max-width:500px;}/* 20140328 */
.pop_con .pd_t0{padding-top:0}/* 20140328 */
.pop_con .bor_t0{border-top:0}/* 20140328 */

#zipcode_2 .search_box {padding:10px 0}
#zipcode_2 .search_box table{width:300px;margin:0 auto}
#zipcode_2 .search_box th{padding:2px 0; font-weight:bold; text-align:left}
#zipcode_2 .search_box td{padding:2px 0}
#zipcode_2 .search_box td.nb input[type=text]{width:70px}
#zipcode_2 .search_box td.nb span{display:inline-block; font-size:14px; color:#aeaeae; padding:8px 5px 0 5px}
#zipcode_2 .search_box p{width:298px; margin:0 auto;  text-align:right}

.pop_con p.search_result{padding-bottom:10px}
.pop_con .search_list{height:200px; overflow-y:scroll}
.pop_con .search_list table{width:96%}
.pop_con .search_list th{border-top:1px solid #333; border-bottom:1px solid #333; padding:9px 0 8px 0; color:#333; font-weight:bold; background:url('/web/img/member/pop_tb_bar.gif') 0 50% no-repeat }
.pop_con .search_list th:first-child{background:none}
.pop_con .search_list td{border-bottom:1px solid #e6e6e6; padding:7px 0; text-align:center; line-height:18px; }
.pop_con .search_list td.txt{text-align:left; padding:7px; }
.pop_con .search_list td a{color:#666}
.pop_con .search_list td a:hover{text-decoration:underline}
.pop_con .search_list2{height:100px; margin-bottom:20px}
#zipcode_2 .search_list{height:125px}
#zipcode_2 .search_list td{font-size:11px; line-height:14px}

.pop_con .addr {margin-top:30px}
.pop_con .addr dt{padding-bottom:10px;font-size:13px; font-weight:bold;}
.pop_con .addr input[type=text]{width:300px}
.pop_con .addr span{display:inline-block; padding-top:10px; font-size:11px; }
.pop_con .addr div{padding-bottom:7px}
.pop_con .addr div span{font-size:14px; color:#aeaeae; padding:8px 10px 0 10px;}
.pop_con .addr div input[type=text]{width:80px}
.pop_con .addr dd input.w_st{width:220px}
.pop_con .addr p{padding-top:10px}
.pop_con .addr p span{display:inline-block; font-size:12px; vertical-align:top; padding:7px 20px 0 0 }

.pop_con .addr_con h2, .pop_con .addr_con h3{background:url('/web/img/member/icon04.gif') 0 6px no-repeat; padding-left:10px;}
.pop_con .addr_con h2{margin-bottom:20px;  border:0}
.pop_con .addr_con h3{margin-bottom:10px}
.pop_con .addr_con .addr_box{border-top:1px solid #333; border-bottom:1px solid #333; padding-top:20px; margin:0}
.pop_con .addr_con dt{line-height:14px; font-weight:bold; margin-bottom:18px}
.pop_con .addr_con p{padding-top:15px; line-height:18px}
.pop_con .addr_con dl {margin-bottom:20px;}
.pop_con .addr_con dd input[type=text]{width:485px;}
.pop_con .addr_con dd input[type=text].st1{width:100px; margin-right:5px; margin-bottom:7px}
.pop_con .addr_con dd input[type=text].st2{width:354px; margin-bottom:7px}
.pop_con .mg_box {padding:5px 10px; background:#f0f0f0; margin-bottom:15px}
.pop_con .mg_box label{display:inline-block; padding-top:10px; font-size:14px; color:#333; font-weight:bold; width:80px; text-align:center}
.pop_con .mg_box input[type=text]{width:350px;}

.pop_con h1{border-bottom:2px solid #444; padding:0;  height:30px}
.pop_con .confirm{padding:10px 0 20px 0; border-bottom:1px solid #e6e6e6; font-size:12px; font-family:'Nanum Gothic'}
.pop_con .confirm h2{background:url('/web/img/member/icon04.gif') 0 5px no-repeat; padding-left:10px; margin-bottom:10px}
.pop_con .confirm p{line-height:18px; padding:0 0 20px 10px}
.pop_con .confirm li{padding:0 0 10px 10px; line-height:18px;}
.pop_con .confirm li strong{font-weight:bold}
.pop_con .confirm .service_txt p{padding:0 0 10px 10px; background:url('/web/img/member/icon02.gif') 0 7px no-repeat;}
.pop_con .confirm .service_txt p span{text-decoration:underline}
.pop_con .confirm .service_txt p.bn{background:none;}
.pop_con .confirm .service_txt p.bn2{background:none; padding:0}
.pop_con .confirm .service_txt strong.txt{display:block; padding:15px 0; color:#333 }
.pop_con .confirm ul.p_sy1 li{padding:0}
.pop_con  p.line_t{padding:0 0 10px 10px;  margin-top:15px; background:url('/web/img/member/icon02.gif') 0 7px no-repeat; font-size:12px; font-family:'Nanum Gothic'}
.pop_con  p.line_t strong{color:#333}
.pop_con .btns_c{padding-top:20px}

.pop_con .confirm_check{padding:40px 0 ; text-align:center;font-family:'Nanum Gothic'; font-size:12px;}
.pop_con .confirm_check .check_area{padding:15px; margin:0 40px; background:#f0f0f0; text-align:center;}
.pop_con .confirm_check p{padding:20px 0 10px 0; font-size:14px;}
.pop_con .confirm_check strong{color:#7f5b15; font-weight:bold; padding-right:10px}

.confir_pw_mod{padding:30px 0 0 0}
.confir_pw_mod .confir_box{padding:0; width:400px; margin:0 auto;}
.confir_pw_mod dl{padding:0;  margin:0; overflow:hidden}
.confir_pw_mod dt{float:left; width:100px}
.confir_pw_mod dd{float:left; width:300px;}
.confir_pw_mod dd input[type=password]{border:1px solid #dfdfdf; width:277px; font-size:16px; padding:0 10px; line-height:30px; height:32px; margin-bottom:12px}
.confir_pw_mod .btns_r{text-align:right; padding-top:10px}
.confir_pw_mod .tip{margin:20px 0 0 0; padding-left:50px}

/*20140917 captcha add*/
.login_box .box .mody_btns {overflow:hidden; height:50px;  }
.login_box span.mody_chk {position:absolute; left:-5px; top:95px; }
.login_box div.mody_btnpos a {float:none; display:inline-block; }
.login_box div.mody_btnpos { text-align:center; padding-top:100px;  } 
.captchaImg {position:absolute; left:-10px; border:1px solid #DDDDDD; }
.chaptchaIn {position:absolute; right:-10px;  }
.chaptchaIn p {padding-top:3px; padding-bottom:10px; }
.chaptchaIn input {border: 1px solid #e3e3e3; width: 213px; height:30px; line-height:30px; font-size: 16px; padding: 0 10px; }