@CHARSET "UTF-8";

#header {
  /* border: 1px solid red; */
  background-image: url(bg1.jpg);
  background-position: -1000px -670px; 
  height: 100px;
}

#sidebar {
  width: 150px;
  /* border: 1px solid green; */
  background: url(bg2.png) no-repeat bottom right #fafad2;
  float: left;
}

#content {
	line-height: 1.5em;
  /* border: 1px solid blue; */
  margin-left: 170px;
}

#footer {
	clear: left; /* 왼쪽에 부딪히는 것이 있으면 아래로 이동하라!*/
  /* border: 1px solid black; */
  text-align: center;
}

#logo {
	/* border: 1px solid red; */
	float: left;
}

#menubar {
	/* border: 1px solid red; */
	width: 400;
	float: left;
	margin-left: 200px;
}

#user {
	/* border: 1px solid black; */
	position: relative;
	top: -30px;
	padding: 0px;
}

#user > img {
	border-radius: 7px;
}

#userName {
	/* border: 1px solid red; */
	position: relative;
  top: -30px;
  font-size: 1.3em;
  font-weight: bold;
  margin-left: 5px;
}



























































