<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Beauty Chu~</title>

<link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
<link rel="icon" href="../images/favicon.ico" type="image/x-icon">

<link rel="stylesheet" type="text/css" href="../css/common.css">
<link rel="stylesheet" type="text/css" href="../css/resources/style.css">
<link rel="stylesheet" type="text/css" href="../css/main.css">
<link rel="stylesheet" type="text/css"
	href="../css/resources/button.css">
<link rel="stylesheet" type="text/css" href="../css/resources/input.css">
<link rel="stylesheet" type="text/css" href="../css/resources/icon.css">

<script type="text/javascript" src="../js/resources/jquery-2.1.1.min.js"></script>
<script src="../js/resources/modernizr.custom.63321.js"></script>
<script src="../js/resources/jquery.catslider.js"></script>
<script src="../js/resources/jquery.flexisel.js"></script>
<script src="../js/main.js"></script>
</head>

<body>
	<header>
		<!-- 상단 고정 메뉴 -->
	</header>
	
	
	<div id='title-container'>
		<h1>Beauty Chu♥</h1>
	</div>

	<div id='wrap'>
		<!--슬라이드 메뉴 ---------------------------------------------------------------->
		<section id='style-main'>
			<div class="container">
				<div class="main">
					<div id="mi-slider" class="mi-slider">
						<ul>
							<li><a href="style-list.html"><img
									src="../images/main/111.jpg" alt="img01">
									<h4>Cut</h4></a></li>
							<li><a href="#"><img src="../images/main/111.jpg"
									alt="img02">
									<h4>Perm</h4></a></li>
							<li><a href="#"><img src="../images/main/111.jpg"
									alt="img03">
									<h4>Color</h4></a></li>
							<li><a href="#"><img src="../images/main/111.jpg"
									alt="img04">
									<h4>Straight</h4></a></li>
						</ul>
						<ul>
							<li><a href="#"><img src="../images/main/woman (4).png"
									alt="img05">
									<h4>Cut</h4></a></li>
							<li><a href="#"><img src="../images/main/woman (4).png"
									alt="img06">
									<h4>Perm</h4></a></li>
							<li><a href="#"><img src="../images/main/woman (4).png"
									alt="img07">
									<h4>Color</h4></a></li>
							<li><a href="#"><img src="../images/main/woman (4).png"
									alt="img08">
									<h4>Straight</h4></a></li>
						</ul>
						<ul>
							<li><a href="#"><img src="../images/main/man (5).png"
									alt="img12">
									<h4>Celebrity Men</h4></a></li>
							<li><a href="#"><img src="../images/main/woman (5).png"
									alt="img13">
									<h4>Celebrity Women</h4></a></li>
						</ul>
						<div id=cleardiv></div>
						<nav>
							<a href="#">MAN</a> <a href="#">WOMAN</a> <a href="#">CELEB</a>
						</nav>
					</div>
				</div>
			</div>
			<!-- end of container -->
		</section>
		<!-- end of style-main 슬라이드 메뉴 ------------------------------------------>


		<!--이미지 슬라이드 -->
		<section id='shop-main'>
			<div id="shop-search" class="ui small icon input">
				<input type="text" placeholder="위치검색.."> <i class="map icon"></i>
			</div>

			<ul id="flexiselDemo3">
				<li><a href="shop-list.html"><img
						src="../images/main/shop (1).jpg" /></a></li>
				<li><a href="shop-list.html"><img
						src="../images/main/shop (2).jpg" /></a></li>
				<li><a href="shop-list.html"><img
						src="../images/main/shop (3).jpg" /></a></li>
				<li><a href="shop-list.html"><img
						src="../images/main/shop (4).jpg" /></a></li>
				<li><a href="shop-list.html"><img
						src="../images/main/shop (5).jpg" /></a></li>
				<li><a href="shop-list.html"><img
						src="../images/main/shop (7).jpg" /></a></li>
				<li><a href="shop-list.html"><img
						src="../images/main/shop (8).jpg" /></a></li>
			</ul>
		</section>
		<!--이미지 슬라이드 끝!!! -->


		<footer>
			<!-- 푸터 삽입 -->
		</footer>

	</div>
	<!-- wrap div 끝 --------------------------------------------------------->



	<script>
		$('header').load('header.html');
		$('footer').load('footer.html');
		/* 
		window.setTimeout('window.location.reload()', 7000); //60초마다 새로고침
		 */
	</script>


</body>
</html>

